boto3==1.13.16
botocore==1.16.16
certifi==2022.12.7
cffi==1.14.0
chardet==3.0.4
click==6.7
Cython==0.29.19
deepspeech==0.7.1
docutils==0.15.2
fairseq==0.9.0
Flask==1.1.2
Flask-Cors==3.0.8
future==0.18.2
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.15.1
MarkupSafe==1.1.1
numpy==1.18.4
pip-autoremove==0.9.1
portalocker==1.7.0
pycparser==2.20
python-dateutil==2.8.1
python-dotenv==0.13.0
pytorch-transformers==1.2.0
regex==2020.5.14
requests==2.23.0
s3transfer==0.3.3
sacrebleu==1.4.9
sacremoses==0.0.43
sentencepiece==0.1.91
six==1.15.0
torch==1.5.0+cpu
tqdm==4.46.0
typing==3.7.4.1
urllib3==1.25.9
webrtcvad==2.0.10
Werkzeug==1.0.1
